.Home-wrapper {
    padding: 0 30px 90px;

    .Home-content {
        .Home-content-block {
            margin-top: 50px;
            .Home-lable-wrapper {
                display: flex;
                align-items: center;

                &.haveViewAll {
                    justify-content: space-between;
                }
                .ViewAll {
                    color: var(--primary-color);
                    font-size: 1.6rem;
                    &:hover {
                        filter: brightness(70%);
                    }
                }

                .Home-title {
                    color: var(--primary-color);
                    font-weight: 100;
                    font-size: 2.4rem;
                    margin-right: 15px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 80%;
                        height: 1px;
                        left: 0;
                        bottom: -15px;
                        background-color: var(--primary-color);
                    }
                }

                .Home-tag-btn-wrapper {
                    .Home-tag-btn {
                        border: none;
                        outline: none;
                        background-color: #dee2e6;
                        padding: 5px 10px;
                        font-size: 1.4rem;
                        cursor: pointer;

                        & + .Home-tag-btn {
                            margin-left: 10px;
                        }

                        &.active {
                            background-color: var(--primary-color);
                            color: white;

                            &:hover {
                                filter: brightness(100%);
                            }
                        }
                        &:hover {
                            filter: brightness(80%);
                        }
                    }
                }
            }

            .Home-content-list-movie {
                margin-top: 50px;
                display: grid;
                // justify-items: center;
                grid-gap: 20px;
            }
        }
    }
}

/*mobile*/
@media only screen and (max-width: 46.1875em) {
    .Home-wrapper {
        .Home-content {
            .Home-content-block {
                .Home-lable-wrapper {
                    flex-direction: column;
                    align-items: flex-start;

                    .Home-tag-btn-wrapper {
                        margin-top: 30px;
                    }
                }
                // .Home-content-list-movie {
                //     grid-template-columns: repeat(1, 1fr) !important;
                // }
            }
        }
    }
}
